<h1><%= @restaurant.name %></h1>
<ul class="list-unstyled">
  <li>
    <%= link_to "âœï¸", edit_restaurant_path(@restaurant) %>
  </li>
  <li>
    <%= link_to "ðŸ—‘ï¸", restaurant_path(@restaurant),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
</ul>
<p><em><%= @restaurant.address %></em></p>
<p>Cuisine: <%= @restaurant.category.capitalize %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<h3 class="mt-3">Reviews</h3>
<% @restaurant.reviews.each do |review| %>
  <li>
    <% review.rating.times do %>
      <%= "â­" %>
    <% end %>
  </li>
  <li>
    <%= review.content %>
  </li>
<% end %>
<div class="mt-3">
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
</div>
<div class="mt-3">
  <%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
